商品新規登録画面
<table class="table">
  <%= form_with model: @item,url: admin_items_path, method: :post, local: true do |form| %>
  <thead>
  <tr>
    <td>
      <%= "商品名" %>  <%= form.text_field :name %>
    </td>
    <th>
      <%= form.text_area :introduction %>
    </th>
    <th>
      <%= form.collection_select :genre_id, Genre.all, :id, :name %>
    </th>
    <th>
      <%= form.number_field :price %>
    </th>
    <th>
      <%= form.radio_button :is_active, :true %><%= form.label :is_active, "販売中", value: true %>
      <%= form.radio_button :is_active, :false %><%= form.label :is_active, "販売停止中", value: false %>
    </th>
    <th>
      <%= form.submit '新規登録' %>
    </th>
  </tr>
  <% end %>
  </thead>
  </table>