<%= render 'public/items/genres',genres: @genres %>
<div class="container">
  <div class="row mt-2">
    <div class="col-mid-2 offset-md-2"></div>
    <div class="table">
  <tr>
  </tr>
    </div>
    </div>
  </div>
</div>
<div class="row-mt3 pt-3">
  <div class="col-md-4 offset-md-2">
    <div class="row field">
      <p>ようこそ、ながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。</p>
    </div>
  </div>
</div>
<div class="row-mt3 pt-3">
  <div class="col-md-4 offset-md-2">
    <div class="row field">
      <p>新着商品</p>
      <% @items.each do |item| %>
      <%= link_to item_path(item.id) do %>
      <%= image_tag item.get_image, size: "100*100" %>
      <% end %>
      <%= item.name %>
      <%= item.price %>
      <% end %>
    </div>
  </div>
</div>