<h3>配送先登録/一覧</h3>
<%= form_with model: @addresses,url: addresses_path, method: :post, local: true do |form| %>
<div><%= "郵便番号（ハイフンなし）" %></div> <div><%= form.text_field :postal_code %></div>
<div><%= "住所" %></div> <div><%= form.text_field :address %></div>
<div><%= "宛名" %></div> <div><%= form.text_field :name %></div>
<%= form.submit '新規登録' %>
<% end %>
<% @addresses.each do |addresses| %>
<div>郵便番号</div> <div>住所</div> <div>宛名</div>
<%= addresses.postal_code %>
<%= addresses.address %>
<%= addresses.name %>
<%= link_to "編集する",edit_address_path(current_customer) %>
<%= link_to "削除する",address_path(current_customer),method: :delete %>

<% end %>