<div class="container">
    <div class="row">
        <div class="col-md-3"><%= render 'genres',genres: @genres %></div>
        <div class="col-md-9">
            <h4>商品一覧</h4><h6>（全<%= @items.count %>件）</h6>
            <% @items.each do |item| %>
            <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_image, size: "100*100" %></br>
            <% end %>
            <%= item.name %></br>
            ￥<%= item.price %>
            <% end %>
            <%= paginate @items %>
        </div>
    </div>
</div>