<div class="container">
    <div class="row">
        <div class="col-md-3"><%= render 'genres',genres: @genres %></div>
        <div class="col-md-2"><%= image_tag @item.get_image, size: "300*300" %></div>
        <div class="col-md-7">

            <%= @item.name %></br>
            <%= @item.introduction %></br>
            <%= @item.with_tax_price %>
            <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
            <%= f.hidden_field :item_id, :value =>@item.id %>
            <%= f.hidden_field :customer_id, :value =>current_customer.id %>
            <%= f.select :amount, *[1..9] %>
            <%= f.submit "カートに入れる" %>
            <% end %>

        </div>

    </div>
</div>