<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navar navar-expang-lg navber-dark bg-dark">
        <div class="container">
          <table class="table table-striped">
            <tr>
              <td>
                <%= link_to "LOGO", root_path,class: "text-white" %>
              </td>


              <% if customer_signed_in? %>
              <td>
                <%= link_to customer_path(current_customer.id),class: "text-white" do %>
                マイページ
                <% end %>
              </td>
              <td>
                <%= link_to items_path,class: "text-white" do %>
                商品一覧
                <% end %>
              </td>
              <td>
                <%= link_to cart_items_path,class: "text-white" do %>
                カート
                <% end %>
              </td>
              <td>
                <%= link_to destroy_customer_session_path,class: "text-white", method: :delete do %>
                ログアウト
                <% end %>
              <% elsif admin_signed_in? %>
              <td>
                <%= link_to admin_items_path,class: "text-white" do%>
                  商品一覧
                <% end %>
              </td>
              <td>
                <%= link_to admin_customers_path,class: "text-white" do %>
                会員一覧
                <% end %>
              </td>
              <td>
                <%= link_to admin_homes_top_path,class: "text-white" do %>
                注文履歴一覧
                <% end %>
              </td>
              <td>
                <%= link_to admin_genres_path,class: "text-white" do %>
                ジャンル一覧
                <% end %>
              </td>
              <td>
                <%= link_to destroy_admin_session_path,class: "text-white", method: :delete do %>
                ログアウト
                <% end %>
              </td>
              <% else %>
              <td>

                <%= link_to about_path,class: "text-white" do %>
                About
                <% end %>
              </td>
              <td>
                <%= link_to items_path,class: "text-white" do %>
                商品一覧
                <% end %>
              </td>
              <td>
                <%= link_to new_customer_registration_path,class: "text-white" do %>
                新規登録
                <% end %>
              </td>
              <td>
                <%= link_to new_customer_session_path,class: "text-white" do %>
                ログイン
                <% end %>
              </td>

              </td>
            </tr>
           <% end %>
          </table>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
